.historique-container {
  max-width: 1000px;
  margin: 1rem auto;

  h2 {
    margin-bottom: 1rem;
  }
  .filter-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
  }
  mat-form-field {
    flex: 1 1 200px;
  }
  table {
    width: 100%;
    margin-top: 1rem;
  }
}
